h1 {
    text-align: center;
}

form {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

.pokemon-list-item {
    background-image: url("images/pokeball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 111px;
}




